<?xml version="1.0"?>
<robot name="UTV">

  <material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <material name="black">
    <color rgba="${0/255} ${0/255} ${0/255} 1.0"/>
  </material>

  <link name="base_link">
    <visual>
      <origin xyz= "0 0 .3522" rpy="0 0 0"/>
      <geometry>
        <mesh scale="0.001 0.001 0.001" filename="package://utv_description/meshes/UTV_frame.stl"/>
      </geometry>
      <material name="orange"/>
    </visual>
  </link>

  <link name="flw">
    <visual>
      <origin xyz=".6078 .6237 0.0601" rpy="0 0 0"/>
      <geometry>
        <mesh scale="0.001 0.001 0.001" filename="package://utv_description/meshes/UTV_FLW.stl"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="base_to_flw" type="fixed">
    <parent link="base_link"/>
    <child link="flw"/>
    <origin xyz="-.6078 -.6237 .2919" rpy="0 0 0"/>
  </joint>

  <link name="frw">
    <visual>
      <origin xyz=".6078 -.6237 .0601" rpy="0 0 0"/>
      <geometry>
        <mesh scale="0.001 0.001 0.001" filename="package://utv_description/meshes/UTV_FRW.stl"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="base_to_frw" type="fixed">
    <parent link="base_link"/>
    <child link="frw"/>
    <origin xyz="-.6078 .6237 .2919" rpy="0 0 0"/>
  </joint>

  <link name="blw">
    <visual>
      <origin xyz="-1.39 .615 .0601" rpy="0 0 0"/>
      <geometry>
        <mesh scale="0.001 0.001 0.001" filename="package://utv_description/meshes/UTV_BLW.stl"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="base_to_blw" type="fixed">
    <parent link="base_link"/>
    <child link="blw"/>
    <origin xyz="1.39 -.615 .2919" rpy="0 0 0"/>
  </joint>

  <link name="brw">
    <visual>
      <origin xyz="-1.39 -.615 .0601" rpy="0 0 0"/>
      <geometry>
        <mesh scale="0.001 0.001 0.001" filename="package://utv_description/meshes/UTV_BRW.stl"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="base_to_brw" type="fixed">
    <parent link="base_link"/>
    <child link="brw"/>
    <origin xyz="1.39 .615 .2919" rpy="0 0 0"/>
  </joint>

</robot>
